<div class="row">
  <div class="span3">
    <h2>"A" Golfers</h2>
    <ul>
    <% RankedGolfer.agolfers.each do |g| %>
        <li><%= "#{g.rank} - #{g.name}" %></li>
    <% end %>
    </ul>
  </div>
  <div class="span3">
    <h2>"B" Golfers</h2>
    <ul>
      <% RankedGolfer.bgolfers.each do |g| %>
          <li><%= "#{g.rank} - #{g.name}" %></li>
      <% end %>
    </ul>
  </div>
  <div class="span3">
    <h2>"C" Golfers</h2>
    <ul>
      <% RankedGolfer.cgolfers.each do |g| %>
          <li><%= "#{g.rank} - #{g.name}" %></li>
      <% end %>
    </ul>
  </div>
  <div class="span3">
    <h2>"D" Golfers</h2>
    <ul>
      <% RankedGolfer.dgolfers.each do |g| %>
          <li><%= "#{g.rank} - #{g.name}" %></li>
      <% end %>
    </ul>
  </div>
</div>