<div ng-app="scrambledApp">
  <div ng-controller="RankedGolferController">
    <h3>Current World Rankings</h3>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Rank</th>
        <th>Player</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="golfer in rankedGolfers">
        <td>{{golfer.rank}}</td>
        <td>{{golfer.player}}</td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
