<div ng-app="scrambledApp">
    <div class="container" ng-controller="UserTournamentController">
      <div class="col-md-2 deckHolder">
        <div class="row">
          Select a tournament:
        </div>
        <div class="row deck" ng-repeat="tournament in tournaments | orderBy:-start_date">
            <div ng-click="selectTournament(tournament)" style="text-decoration: underline">
              {{tournament.name}}
            </div>
        </div>
      </div>
      <div class="col-md-10 tournament"
           ng-class="{'active': isViewingTournament}" >
        <div>

          <h2>{{selectedTournament.name}}</h2>

        </div>
        <div ng-show="beforeStartDate">
          <h3>
            Team selection for this tournament has not started quite yet.
            Please check back after {{selectedTournament.picks_start | date: 'medium'}} </h3>
        </div>
        <div ng-show="pickingTime">
					
          <h4>Make your picks below (you have until {{selectedTournament.picks_end | date: 'medium'}}):</h4>
          <h5 class="text-danger">** Don't forget to submit your entry fee at <a href="https://paypal.com" target="_new">PayPal</a>.  
						Entries without fees paid by tournament start will be deleted.</h5>
          <form role="form" class="form-horizontal" >
            <input type="hidden" name="tournament_id" value="{{selectedTournament.id}}"/>
						<div class="row">
							<div class="col-md-5 col-sm-12 col-xs-12">
								<div class="form-group">
									<label for="agolfer" class="control-label">"A" Golfer:</label>
									<select class="form-control" ng-model="invite.agolfer" ng-options="g.player as g.player for g in agolfers" required="true"></select>

								</div>
							</div>
							<div class="col-md-5 col-md-offset-1 col-sm-offset-0 col-xs-offset-0 col-sm-12 col-xs-12">
								<div class="form-group">
									<label for="bgolfer" class="control-label">"B" Golfer:</label>
									<select class="form-control" ng-model="invite.bgolfer" ng-options="g.player as g.player for g in bgolfers" required="true"></select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-5 col-sm-12 col-xs-12">
								<div class="form-group">
									<label for="cgolfer" class="control-label">"C" Golfer:</label>
									<select class="form-control" ng-model="invite.cgolfer" ng-options="g.player as g.player for g in cgolfers" required="true"></select>
								</div>
							</div>
							<div class="col-md-5 col-md-offset-1 col-sm-offset-0 col-xs-offset-0 col-sm-12 col-xs-12">
								<div class="form-group">
									<label for="dgolfer" class="control-label">"D" Golfer:</label>
									<select class="form-control" ng-model="invite.dgolfer" ng-options="g.player as g.player for g in dgolfers" required="true"></select>
								</div>
							</div>
						</div>
						<div class="row">
            <button class="btn btn-primary" ng-click="submitGolfers(invite)">Submit</button>
						</div>
          </form>
					<p style="font-weight: bold; color: green">{{message}}</p>
        </div>
        <div ng-show="showStandings">
	  			<p class="text-danger"><b>Note:</b> {{selectedTournament.message}}</p>
          <h4>Current Standings:</h4>
          <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-3">

            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
              "A" Golfer
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
              "B" Golfer
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
              "C" Golfer
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
              "D" Golfer
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1">
              Total
            </div>
          </div>
        <div ng-repeat="player in standings | orderBy:'totalScore'" class="row standingRow" ng-class-odd="'standingOddRow'">
          <div class="col-md-3 col-sm-3 col-xs-3">
            {{player.name}}
          </div>
          <div class="col-md-2 col-sm-2 col-xs-2 golferScore">
            {{player.agolfer}} ({{player.agolferScore}})
          </div>
          <div class="col-md-2 col-sm-2 col-xs-2 golferScore">
            {{player.bgolfer}} ({{player.bgolferScore}})
          </div>
          <div class="col-md-2 col-sm-2 col-xs-2 golferScore">
            {{player.cgolfer}} ({{player.cgolferScore}})
          </div>
          <div class="col-md-2 col-sm-2 col-xs-2 golferScore">
            {{player.dgolfer}} ({{player.dgolferScore}})
          </div>
          <div class="col-md-1 col-sm-1 col-xs-1">
            {{ player.totalScore }}
          </div>
        </div>


        </div>
      </div>
    </div>
</div>
